In [11]:
import numpy as np # linear algebra
import pandas as pd
customers = pd.read_csv('../../data/customers.csv')
articles = pd.read_csv('../../data/articles.csv')
transactions = pd.read_csv('../../data/transactions_train.csv')

In [12]:
ItemtoProduct=articles[['article_id','product_code']]
transactions=pd.merge(transactions,ItemtoProduct,on='article_id')
transactions.head()

,t_dat,customer_id,article_id,price,sales_channel_id,product_code
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2,663713
1,2018-09-20,3681748607f3287d2c3a65e00bb5fb153de30e9becf158...,663713001,0.049475,2,663713
2,2018-09-20,4ef5967ff17bf474bffebe5b16bd54878e1d4105f7b4ed...,663713001,0.050831,2,663713
3,2018-09-20,6b7b10d2d47516c82a6f97332478dab748070f09693f09...,663713001,0.050831,1,663713
4,2018-09-20,8ac137752bbe914aa4ae6ad007a9a0c5b67a1ab2b2d474...,663713001,0.050831,2,663713

In [14]:
from sklearn.preprocessing import LabelEncoder

ALL_USERS = customers['customer_id'].unique().tolist()
ALL_ITEMS = articles['product_code'].unique().tolist()

leUser = LabelEncoder().fit(ALL_USERS)
transactions['user_id'] = leUser.transform(transactions['customer_id'])
leItem = LabelEncoder().fit(ALL_ITEMS)
transactions['product_id'] = leItem.transform(transactions['product_code'])

In [17]:
from scipy.sparse import coo_matrix

row = transactions['user_id'].values
col = transactions['product_id'].values
one = np.ones(transactions.shape[0])

coo = coo_matrix((one, (row, col)), shape=(len(ALL_USERS), len(ALL_ITEMS)))

In [21]:
import scipy.sparse
csr = coo.tocsr()
scipy.sparse.save_npz('product_sparse_matrix.npz', csr)